.btn-float {
   bottom: 1em;
   right: 1em;
}

.btn-link {
   color: inherit;
   padding: inherit;
   text-decoration: inherit;
   margin: inherit;
   font-size: inherit;
   display: inherit;
   line-height: inherit;
}

.page-item {
   padding: 1rem 0;
}